html, body, #body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}


/* Media Queries */


/* NavBar component styling */
#container {
    position: fixed;
    top: 0px;
    left: -190px;
    right: auto;
    display: flexbox;
    width: 170px;
    height: 97vh;
    max-height: 97vh;
    padding: 10px;
    box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.5);
    background-color: #fefbff;
    margin: 0px;
    z-index: 100;
}

#face {
  position: relative;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

#navbar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15vh 8vh 8vh 8vh 8vh;
    grid-template-areas: 
    "github"
    "linkedin"
    "resume"
    "email"
    "updated 2020";
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#nav-name {
    padding: 10px;
    text-align: center;
    font-size: 1.75em;
    font-family: 'Quicksand', sans-serif;
}

.nav-button {
    padding: 10px;
    text-align: left;
    font-size: 1.2em;
}

.nav-button:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
    border-left: 5px solid royalblue;
}

#github, #resume, #email{
    font-family: 'Inter', sans-serif;
    color: black;
}
#linkedin {
    font-family: 'Roboto', sans-serif;
    color: black;
}

#footer {
    margin-top: 1.2em;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: black;
    align-items: baseline;
}

.fa-star {
    color: #f0e626;
}

a {
    text-decoration: none;
}

i {
    margin: 5px;
}

/* Flag styling */
#flag {
    position: fixed;
    top: 0px;
    left: 0vw;
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: auto 20px;
    grid-template-rows: 40% auto 40%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

#flag-text .fa-caret-left, #flag-text .fa-caret-right {
    font-size: 2em;
    color: white;
    margin-left: 20px;
}

#flag-text {
    width: 50px;
    background-color: #5cbbed;
    border-radius: 5% 20% 20% 5%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#flag-text p{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #074f7d;
}


/* Body Styling */
#panel-container {
    display: flexbox;
    width: 100%;
    height: auto;
    z-index: 0;
    margin: 0px;
}

.panel {
    position: relative;
    display: block;
    width: 100%;
    height: 98vh;
    box-shadow: 0 4px 10px 5px rgba(5, 5, 5, 0.5);
    margin-bottom: 0px;

}
/* Panel 1 */
#menu {
    position: relative;
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 10% 40% 10% 10% 10%;
    grid-template-rows: 20px auto;
    grid-template-areas: 
    ". . . . ." 
    "smile . b1 b2 b3";
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.fa-smile, .fa-smile-beam{
    font-size: 40px;
}

.button {
    background-color: #0071d4;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', 'Roboto', sans-serif;
    color: #d4d4d4;
    border: none;
    padding: 10px;
    min-width: 40px;
}

.button:hover {
    color: #f1f8ff;
    /*border-bottom: 1px solid white;*/
}

#big-name {
    position: absolute;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 5.5em;
    font-weight: 900;
    color: #074f7d;
    width: 40%;
    height: auto;
    left: 20%;
    bottom: 18%;
    text-align: center;
}

/*
#duck {
    position: absolute;
    width: 20%;
    height: auto;
    left: 60%;
    bottom: 35%;
}
*/

/* Panel 2 */
div[class="panel"] span {
    position: absolute;
    top: 30%;
    left: 30%;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.fa-tools {
    margin: 40px;
}

/* Panel 3 */
#about {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

#gif-container{
    position: absolute;
    height: 250px; 
    width: 250px; 
    overflow: hidden; 
    border-radius: 50%;
    top: 30%;
    left: 15%;
    border: 3px solid #0071d4;
}

#book-gif{
    clip-path: inset(180px, 280px);
    height: 100%;
    width: auto;
}

#text-container{
    position: absolute;
    top: 15%;
    left: 50%;
    height: 60%;
    width: 30%;
    font-size: 1.75em;
    font-family: 'Inter', sans-serif;
}


