
#face {
  position: relative;
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 0.6); 
  display: block;
  width: 100%;
}

#container {
    display: block;
    width: 15%;
    height: 90vh;
    border-right: 1px solid black;
    padding: 10px;
}

#navbar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-areas: 
    "name"
    "github"
    "linkedin"
    "resume"
    "email";
    
}

#nav-name {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

i {
    margin-right: 5px;
}

.nav-button {
    padding: 10px;
    text-align: left;
    font-size: 20px;
}


